@model SBASAWAPP.HISTORY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HISTORY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHAHISTORY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAHISTORY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTS.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDHISTORY }) |
    @Html.ActionLink("Back to List", "Index")
</p>
