@model IEnumerable<SBASAWAPP.HISTORY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (User.IsInRole("ADMIN")) 
{ 
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHAHISTORY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTS.NAME)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (User.Identity.Name == item.AspNetUsers.Email)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHAHISTORY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRODUCTS.NAME)
                </td>
                <td>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IDHISTORY }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IDHISTORY })
                        </p>
                    }
                    <p>
                        @Html.ActionLink("Details", "Details", new { id = item.IDHISTORY })
                    </p>
                </td>
            </tr>
        }
    }

</table>
