@model IEnumerable<SBASAWAPP.HISTORY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("ADMIN")) 
{ 
    <p>
        @Html.ActionLink("Crear nuevo", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Fecha")
        </th>
        <th>
            @Html.DisplayName("Correo")
        </th>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (User.IsInRole("ADMIN"))
        {
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHAHISTORY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRODUCTS.NAME)
                </td>
                <td>
                        <p>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IDHISTORY }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.IDHISTORY })
                       
                        @Html.ActionLink("Detalles", "Details", new { id = item.IDHISTORY })
                    </p>
                </td>
            </tr>
        }
        else if (User.Identity.Name == item.AspNetUsers.Email)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHAHISTORY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRODUCTS.NAME)
                </td>
                <td>
                    <p>
                        @Html.ActionLink("Detalles", "Details", new { id = item.IDHISTORY })
                    </p>
                </td>
            </tr>
        }
    }

</table>
