@model IEnumerable<SBASAWAPP.QUOTECART>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESULTADO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.ID_USER.Equals(User.Identity.GetUserId()))
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.QUANTITY)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PRODUCT.NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RESULTADO)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
        }
    }

</table>
