@model IEnumerable<SBASAWAPP.PRODUCTS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<h2>Index</h2>

@if (User.IsInRole("ADMIN"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">

    @{
        <p>Categoria: @Html.DropDownList("ListadoCategorias", items, "Seleccione una categoria", new { @class = "form-control" })</p>
    }


    @foreach (var item in Model)
    {

        //if (item.CATEGORIES.CATEGORY_NAME == )
        //{

        if (item.ACTIVE == true)
        {

            <div class="menu">
                <div class="products">
                    <div class="row center-xs">
                        <div class="col-xs-10 col-sm-6 col-md-4">
                            <div class="card">
                                <img src="@item.URL">
                                <h3>@item.NAME</h3>
                                <p>Colones: @item.PRICE</p>
                                @if (User.IsInRole("ADMIN"))
                                {
                                <p>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </p>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        //}
    }

</table>
