@model IEnumerable<SBASAWAPP.PRODUCT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}


@if (User.IsInRole("ADMIN"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<section id="main">
    <div class="inner">



        <section id="one" class="wrapper style1">
            <header class="special">
                <h2>Informacion de Ventas</h2>
            </header>
            <div class="content">
                <table class="table" id="MiTabla" style="width:100%">


                    <thead>

                        <tr>
                            <!--<th>
                                @Html.DisplayNameFor(model => model.NAME)
                            </th>-->
                            <th>
                                @Html.DisplayNameFor(model => model.CATEGORIES.CATEGORY_NAME)
                            </th>
                            <th></th>
                        </tr>

                    </thead>   
                        



                            <!--{
                                <p>Categoria: AHtml.DropDownList("ListadoCategorias", items, "Seleccione una categoria", new { Aclass = "form-control" })</p>
                            }-->


                            @foreach (var item in Model)
                            {

                                //if (item.CATEGORIES.CATEGORY_NAME == )
                                //{

                                //if (item.ACTIVE == true)
                                //{

                                <div class="menu">
                                    <div class="products">
                                        <div class="row center-xs">
                                            <div class="col-xs-10 col-sm-6 col-md-4">
                                                <div class="card">
                                                    <img src="@item.URL">
                                                    <h3>@item.NAME</h3>
                                                    <p>Colones: @item.PRICE</p>
                                                    @if (User.IsInRole("ADMIN"))
                                                    {
                                                        <p>
                                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                        </p>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                //}
                                //}
                            }

                        </table>
