@model SBASAWAPP.FACTURA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Eliminar</h2>

<h3>Está seguro de eliminar esto?</h3>
<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Id Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDUSUARIO)
        </dd>

        <dt>
            @Html.DisplayName("Fecha")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayName("Total")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

        <dt>
            @Html.DisplayName("Numero de pago")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMPAGO)
        </dd>

        <dt>
            @Html.DisplayName("Descuento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCUENTO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
