@model IEnumerable<SBASAWAPP.FACTURA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMPAGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCUENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMPAGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCUENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDFACTURA }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDFACTURA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDFACTURA })
        </td>
    </tr>
}

</table>
