@model SBASAWAPP.PRODUCTS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="small-container">
    <div class="row">
        <div class="col-2">
            <img src="@Html.DisplayFor(model => model.URL)" width="100%"/>
        </div>
        <div class="col-2">
            <p>@Html.DisplayFor(model => model.CATEGORIES.CATEGORY_NAME)</p>
            <h1>@Html.DisplayFor(model => model.NAME)</h1>
            <h4>Precio: @Html.DisplayFor(model => model.PRICE)</h4>
            <h2>Descripción del producto</h2>
            <p>@Html.DisplayFor(model => model.DESCRIPTION)</p>
            <input type="number" value="1" />
            <a href="@Url.Action("Create", "HISTORY", new { id = Model.ID })" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
