@model SBASAWAPP.SALE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Ventas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre de cliente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENT_NAME)
        </dd>

        <dt>
            @Html.DisplayName("Total")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALE_TOTAL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
