@model SBASAWAPP.AspNetUsers

@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Correo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName("Teléfono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayName("Nombre Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>